<video src="../assets/background.mp4"  [ngClass]="['background']" autoplay="" loop=""></video>
   
<div [ngClass]="['container-fluid']">
    <div id="demo5" [ngClass]="['carousel slide']" data-bs-ride="carousel" [ngStyle]="{'text-align':'center'}">
          <div class="carousel-inner">
               <div class="carousel-item active">
                <div [ngClass]="['sliding']" id="slide">
                    <div class="container donnot">
                        <div class="row">
                            <h1 [ngClass]="['datasl','mdview']">Data Annotataion</h1>
                            <div class="col-lg-6 dtview">
                                <h1 [ngClass]="['datasl']">Data Annotataion</h1>
                                <p [ngClass]="['datas2']">Data annotation refers to the process of labeling or tagging data with relevant information or annotations. It is a crucial step in machine learning and artificial intelligence projects. </p>
                                <button mat-stroked-button class="slidebtn1" [routerLink]="['data']">Learn More</button> 
                            </div>
                            <div class="col-lg-6 slideimg0">
                                <img src="../assets/ss1.png" class="slideim1">
                             </div>
                             <div class="col-lg-6 mdview">
                                <p [ngClass]="['datas2']">Data annotation refers to the process of labeling or tagging data with relevant information or annotations. It is a crucial step in machine learning and artificial intelligence projects.  </p>
                                <div class="slidebtn3">
                                     <button mat-stroked-button class="slidebtn1" [routerLink]="['data']">Learn More</button> 
                                 </div>
                            </div>
                       </div>
                   </div>  
                  </div>   
               </div>
               <div class="carousel-item">
                 <div [ngClass]="['sliding']" id="slide">
                    <div class="container donnot">
                        <div class="row">
                            <h1 [ngClass]="['datasl','mdview']">Digital Publishing</h1>
                            <div class="col-lg-6 dtview">
                                <h1 [ngClass]="['datasl']">Digital Publishing</h1>
                                <p [ngClass]="['datas2']">Sigma4Solutions handles a wide range of books and journals from low complexity pagination levels to heavy complexity free style design projects.  </p>
                                <button mat-stroked-button class="slidebtn1" [routerLink]="['digital']">Learn More</button> 
                            </div>
                            <div class="col-lg-6  slideimg0">
                                <img src="../assets/softserve2.png" class="slideimg1">  
                             </div>
                             <div class="col-lg-6 mdview">
                                <p [ngClass]="['datas2']">Sigma4Solutions handles a wide range of books and journals from low complexity pagination levels to heavy complexity free style design projects.</p>
                                <div class="slidebtn3">
                                    <button mat-stroked-button class="slidebtn1" [routerLink]="['digital']">Learn More</button> 
                                </div>                            
                            </div>
                       </div>
                   </div>  
                  </div>   
               </div>
               <div class="carousel-item">
                <div [ngClass]="['sliding']" id="slide">
                    <div class="container donnot">
                        <div class="row">
                            <h1 [ngClass]="['datasl','mdview']">Accessibility Services</h1>
                            <div class="col-lg-6 dtview">
                                <h1 [ngClass]="['datasl']">Accessibility Services</h1>
                                <p [ngClass]="['datas2']">An accessible PDF is a document that is universally easy to use and meets established accessibility standards. It enables most people to view, read, or interact with your document. </p>
                                <button mat-stroked-button class="slidebtn1" [routerLink]="['access']">Learn More</button> 
                            </div>
                            <div class="col-lg-6  slideimg0">
                                <img src="../assets/data_annotation.png" class="slideimg1">
                             </div>
                             <div class="col-lg-6 mdview">
                                <p [ngClass]="['datas2']">An accessible PDF is a document that is universally easy to use and meets established accessibility standards. It enables most people to view, read, or interact with your document.</p>
                                <div class="slidebtn3">
                                    <button mat-stroked-button class="slidebtn1" [routerLink]="['access']">Learn More</button> 
                                </div>                            
                            </div>
                       </div>
                    </div>  
                  </div> 
                </div>
               <div class="carousel-item">
                <div [ngClass]="['sliding']" id="slide">
                    <div class="container donnot">
                        <div class="row">
                            <h1 [ngClass]="['datasl','mdview']">Software Services</h1>
                            <div class="col-lg-6 dtview">
                                <h1 [ngClass]="['datasl']">Software Services</h1>
                                <p [ngClass]="['datas2']">Sigma4solutions can address a wide range of software development needs and provide end-to-end solutions to our clients. Experience the power of web-based solutions with Sigma4Solutions.  </p>
                                <button mat-stroked-button class="slidebtn1" [routerLink]="['software']">Learn More</button> 
                            </div>
                             <div class="col-lg-6  slideimg0">
                                <img src="../assets/softserve3.png" class="slideim1">
                             </div>
                             <div class="col-lg-6 mdview">
                                <p [ngClass]="['datas2']">Lorem ipsum dolor sit amet consectetur. Eu dui aliquam tortor mattis tempus pharetra vestibulum tincidunt amet. Mauris amet est sagittis donec nec quis sed. </p>
                                <div class="slidebtn3">
                                    <button mat-stroked-button class="slidebtn1" [routerLink]="['software']">Learn More</button> 
                                </div>                            
                            </div>
                       </div>
                   </div>  
               </div>     
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#demo5" data-bs-slide="prev">
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#demo5" data-bs-slide="next">
          </button>
    </div> 	  
  </div>
</div>


<div class="wback1 ">
    <div class="backgd2"></div>
      <div class="container" >
        <div class="row ">
            <div class="col-lg-7">
                <div id="backgd1">
                   <p class="wwd1">What we do?</p>
                   <p class="wwd2" style="margin-top:30px;">It is an undeniable fact that IT services are one of the hotcakes of the industry and market these days. Offering IT services may seem like an overwhelming and tedious task. But @Sigma 4 Solutions, with a little bit of effort and tons of dedication, it is possible to provide all types of IT services on time.</p>
                    <div class="gafq1">
                        <button mat-raised-button class="gafq">Get A Free Quote</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
            <div class="container-fluid dtview">
                <div class="row">
                <div class="col-6 ">
                    <div class="bacg1 bacg">
                        <p class="t1t">10<span class="t1t1">+</span><br><span class="t1t2">years</span></p>
                      </div>
                </div>
                <div class="col-6">
                      <div class="bacg3 bacg">
                        <p class="t1t">16<span class="t1t1">M</span><br><span class="t1t2">pages</span></p>
                      </div>
                </div>
            </div>
         </div> 
         <div class="container dtview">
            <div class="row">
                <div class="col-6 ">
                    <div class="bacg2 bacg">
                        <p class="t1t">50<span class="t1t1">+</span><br><span class="t1t2">services</span></p>
                      </div>
                </div>
                <div class="col-6">
                    <div class="bacg4 bacg">
                        <p class="t1t">100<span class="t1t1">+</span><br><span class="t1t2">clients</span></p>
                    </div>   
                </div>
            </div>
          </div>
         </div>

         
        <div class="container-fluid mdview">
            <div class="row">
            <div class="col-6 ">
                <div class="bacg1 bacg">
                    <p class="t1t">10<span class="t1t1">+</span><br><span class="t1t2">years</span></p>
                  </div>
            </div>
            <div class="col-6">
                  <div class="bacg3 bacg">
                    <p class="t1t">16<span class="t1t1">M</span><br><span class="t1t2">pages</span></p>
                  </div>
            </div>
        </div>
     </div> 
     <div class="container mdview">
        <div class="row">
            <div class="col-6 ">
                <div class="bacg2 bacg">
                    <p class="t1t">50<span class="t1t1">+</span><br><span class="t1t2">services</span></p>
                  </div>
            </div>
            <div class="col-6">
                <div class="bacg4 bacg">
                    <p class="t1t">100<span class="t1t1">+</span><br><span class="t1t2">clients</span></p>
                </div>   
            </div>
        </div>
      </div>
        </div>
    </div>
    <div class="container mdview">
        <h1 class="ourse">Our Services</h1>
        <div style=" margin-left: 25px;">
            <div class="ourseda1">
              <img class="ourseimg" src="../assets/price-tag.png">              
              <h4 class="ourseda2">Data Annotation</h4>
              <p class="oursed3">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
              <button mat-stroked-button class="ourbtn">View</button>
            </div>
        </div>


        <div class="ourbtn1">
              <button mat-stroked-button class="ourbtn">View All Services</button>
        </div>

        <h1 class="ourse">Testimonial</h1>
        <p class="oursed3" style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
        <div class="ourseda3">
            <p class="oursed3" style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
        </div>


        <h1 class="ourse">Our Blogs</h1>
        <div class="card card2">
            <img src="../assets/fruits.png" class="card-img-top cardblogimg">
            <div class=" cardblogcon" >
                <h4 class="oursed5">Lorem Ipsum dolor dit amet</h4>
                <p >Lorem Ipsum dolor dit amet</p>
            </div>
        </div>
        <div class="card card2">
            <img src="../assets/fruits.png" class="card-img-top cardblogimg">
            <div class=" cardblogcon" >
                <h4 class="oursed5">Lorem Ipsum dolor dit amet</h4>
                <p >Lorem Ipsum dolor dit amet</p>
            </div>
        </div>
        <div class="ourbtn1">
            <button mat-stroked-button class="ourbtn">View All Services</button>
        </div>

    </div>

   <ul class="nav nav-pills dtview" role="tablist">
      <div class="container">
          <h1 class="os1">Our Services</h1>
              <div class="row">
                   <div class="col-md-3">
                       <li class="nav-item">
                            <a class="nav-link active pictab1" data-bs-toggle="pill" href="#menu0">
                               <img src="../assets/test 1.png" [ngClass]="['tested0']">
                               <p class="text0">Data Annotation & Labelling</p> 
                            </a>
                        </li>
                    </div>     
                    <div class="col-md-3">
                        <li class="nav-item">
                            <a class="nav-link pictab1" data-bs-toggle="pill" href="#menu1">
                               <img src="../assets/test 3.png" [ngClass]="['tested0']">
                               <p class="text0">Digital Publishing</p> 
                            </a>
                        </li>
                    </div>       
                    <div class="col-md-3">
                        <li class="nav-item">
                            <a class="nav-link pictab1" data-bs-toggle="pill" href="#menu2">
                                <img src="../assets/test 2.png" [ngClass]="['tested0']">
                                <p class="text0">Accessibility Services</p> 
                            </a>
                        </li>
                    </div>
                    <div class="col-md-3">
                        <li class="nav-item">
                            <a class="nav-link pictab1" data-bs-toggle="pill" href="#menu3">
                                <img src="../assets/test 1.png" [ngClass]="['tested0']">
                                <p class="text0">Software Development</p> 
                            </a>
                        </li>
                    </div>
                </div>
        </div>
    </ul>
    <div class="tab-content dtview">
        <div id="menu0"  class="container tab-pane active">
            <img src="../assets/indicator1.png" class="menu0int" >
                <div class="swibebtn1">
                    <div class="container ml-5 mt-5">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card1">
                                    <img src="../assets/fruits.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Agriculture Annotation</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card1">
                                    <img src="../assets/healthcare.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Healthcare Annotation</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card1">
                                    <img src="../assets/selfdriving.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Self-driving car Annotation</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card1">
                                    <img src="../assets/drone.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Drone Annotation</div>
                            </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card1">
                                    <img src="../assets/sports.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Sports Annotation</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card1">
                                     <img src="../assets/retail.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Retail Annotation</div>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>     
        </div>
    </div>
    <div class="tab-content dtview">
            <div id="menu1"  class="container tab-pane fade">
                <img src="../assets/indicator1.png" class="menu1int" >
                    <div class="swibebtn1">
                        <div class="container ml-5 mt-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card1">
                                        <img src="../assets/fruits.png" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >Agriculture Annotation</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card1">
                                        <img src="../assets/healthcare.png" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >Healthcare Annotation</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card1">
                                        <img src="../assets/selfdriving.png" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >Self-driving car Annotation</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card1">
                                        <img src="../assets/drone.png" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >Drone Annotation</div>
                                </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card1">
                                        <img src="../assets/sports.png" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >Sports Annotation</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card1">
                                         <img src="../assets/retail.png" class="cardimg1">
                                        <div class="card-img-overlay cardover1" >Retail Annotation</div>
                                    </div>
                                </div>
                           </div>
                       </div>
                    </div>     
        </div>
    </div>  
    <div class="tab-content dtview">
        <div id="menu2"  class="container tab-pane fade">
            <img src="../assets/indicator1.png" class="menu2int">
                <div class="swibebtn1">
                    <div class="container ml-5 mt-5">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card1">
                                    <img src="../assets/fruits.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Agriculture Annotation</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card1">
                                    <img src="../assets/healthcare.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Healthcare Annotation</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card1">
                                    <img src="../assets/selfdriving.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Self-driving car Annotation</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card1">
                                    <img src="../assets/drone.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Drone Annotation</div>
                            </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card1">
                                    <img src="../assets/sports.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Sports Annotation</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card1">
                                     <img src="../assets/retail.png" class="cardimg1">
                                    <div class="card-img-overlay cardover1" >Retail Annotation</div>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>     
    </div>
</div> 
<div class="tab-content dtview">
    <div id="menu3"  class="container tab-pane fade">
        <img src="../assets/indicator1.png" class="menu3int" >
            <div class="swibebtn1">
                <div class="container ml-5 mt-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card1">
                                <img src="../assets/fruits.png" class="cardimg1">
                                <div class="card-img-overlay cardover1" >Agriculture Annotation</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card1">
                                <img src="../assets/healthcare.png" class="cardimg1">
                                <div class="card-img-overlay cardover1" >Healthcare Annotation</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card1">
                                <img src="../assets/selfdriving.png" class="cardimg1">
                                <div class="card-img-overlay cardover1" >Self-driving car Annotation</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card1">
                                <img src="../assets/drone.png" class="cardimg1">
                                <div class="card-img-overlay cardover1" >Drone Annotation</div>
                        </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card1">
                                <img src="../assets/sports.png" class="cardimg1">
                                <div class="card-img-overlay cardover1" >Sports Annotation</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card1">
                                 <img src="../assets/retail.png" class="cardimg1">
                                <div class="card-img-overlay cardover1" >Retail Annotation</div>
                            </div>
                        </div>
                   </div>
               </div>
            </div>     
   </div>
</div> 

<h3 class="wact1 dtview">“ We are committed to providing our <br>
    clients with  the best possible service “</h3>
<div class="container" >
    <div class="row dtview ">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="wcu1">
                <div data-bs-toggle="collapse" data-bs-target="#wcu1">
                    <div class="wrt1">
                       <img src="../assets/Shape.png" class="wrt2">
                       <span class="wrt3">Why Choose us?</span>
                    </div>
                    <ul id="wcu1" class="collapse">
                         <li class="dqc">Deliver quality content</li>
                         <li class="dqc"> On-time delivery</li>
                         <li class="dqc">Out-of-the-box thinking</li>
                         <li class="dqc">Cutting edge technologies for serving you</li>
                         <li class="dqc">Manage smooth relationships with all clients</li>
                    </ul>
                </div>
                <div data-bs-toggle="collapse" data-bs-target="#wcu2">
                    <div class="wrt1 wrt0">
                        <img src="../assets/Shape.png" class="wrt2">
                        <span class="wrt3">What are the industries we serve?</span>
                    </div>
                    <div id="wcu2"  class="collapse">
                        <p class="dqc">Some of the industries that benefit from our Data annotation services are healthcare, automotive, e-commerce, agriculture,
                        retail, sports etc.</p>
                    </div>
                </div>
                <div data-bs-toggle="collapse" data-bs-target="#wcu3">
                    <div class="wrt1 wrt0">
                        <img src="../assets/Shape.png" class="wrt2">
                        <span class="wrt3">How making documents accessible
                            <span class="wrt4">helps people with disabilities?</span>
                        </span>
                    </div>
                    <div id="wcu3"  class="collapse">
                        <p class="dqc">By making digital documents accessible, you not only comply with legal requirements but also create an inclusive digital environment that empowers individuals with disabilities to participate fully in education, work, and information-sharing.</p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
       </div>
    </div>
</div>
    
<div class="container dtview">
      <h1 class="testi1">Testimonials</h1>
</div>
<div id="rr1" class="carousel slide dtview" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active johnd ">
        rahul  
      </div>
    
      <div class="carousel-item  johnd ">
        raja
      </div>
      <div class="carousel-item  johnd  ">
        viswa
      </div>
      <div class="carousel-item johnd ">
         sathish
      </div>
    </div>
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#rr1" data-bs-slide="prev">
  
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#rr1" data-bs-slide="next">
    </button>
  </div>


   <div class="bacgd5"></div>   
</div>





